{block #content}

<section class="section">
	<div class="row">
		<div class="col-lg">

			<div class="card">
				<div class="card-body">
					<h5 class="card-title">{$title}</h5>
					<a n:href="CategoryService:edit" class="btn btn-primary">+ Pridať kategóriu</a>
				</div>
			</div>
		</div>
	</div>
</section>
