# Development Config
includes:
	- base.neon


# Nettrine ===================
nettrine.cache:
	driver: Doctrine\Common\Cache\ApcuCache


# Services ===================
services:
	mail.mailer:
			class: Contributte\Mail\Mailer\SendmailMailer
			setup:
				- setBounceMail(mail@contributte.org)
	mailBuilder: Contributte\Mailing\MailBuilder

