# Development Config
includes:
	- base.neon


# Nettrine ===================
nettrine.cache:
	driver: Doctrine\Common\Cache\ApcuCache


# Services ===================
services:
	mail.mailer:
		factory: App\Model\Mail\PersistentFileMailer(%tempDir%/mail-panel-mails)
		setup:
			- setBounceMail(mail@contributte.org)
	mailBuilder: Contributte\Mailing\MailBuilder