ALTER TABLE provider CHANGE deleted_by deleted_by INT DEFAULT NULL;
ALTER TABLE provider ADD CONSTRAINT FK_92C4739C1F6FA0AF FOREIGN KEY (deleted_by) REFERENCES user (id);
CREATE INDEX IDX_92C4739C1F6FA0AF ON provider (deleted_by);
ALTER TABLE provider_region CHANGE deleted_by deleted_by INT DEFAULT NULL;
ALTER TABLE provider_region ADD CONSTRAINT FK_585312E61F6FA0AF FOREIGN KEY (deleted_by) REFERENCES user (id);
CREATE INDEX IDX_585312E61F6FA0AF ON provider_region (deleted_by);
ALTER TABLE provider_service_category CHANGE deleted_by deleted_by INT DEFAULT NULL;
ALTER TABLE provider_service_category ADD CONSTRAINT FK_923FF3E11F6FA0AF FOREIGN KEY (deleted_by) REFERENCES user (id);
CREATE INDEX IDX_923FF3E11F6FA0AF ON provider_service_category (deleted_by);
ALTER TABLE state_provider CHANGE deleted_by deleted_by INT DEFAULT NULL;
ALTER TABLE state_provider ADD CONSTRAINT FK_AD37153B1F6FA0AF FOREIGN KEY (deleted_by) REFERENCES user (id);
CREATE INDEX IDX_AD37153B1F6FA0AF ON state_provider (deleted_by);
