ALTER TABLE category_service CHANGE name name VARCHAR(255) NOT NULL, CHANGE description description LONGTEXT DEFAULT NULL, CHANGE deleted_by deleted_by VARCHAR(255) DEFAULT NULL;
ALTER TABLE provider DROP FOREIGN KEY FK_92C4739C1F6FA0AF;
DROP INDEX IDX_92C4739C1F6FA0AF ON provider;
ALTER TABLE provider CHANGE deleted_by deleted_by VARCHAR(255) DEFAULT NULL;
ALTER TABLE provider_region DROP FOREIGN KEY FK_585312E61F6FA0AF;
DROP INDEX IDX_585312E61F6FA0AF ON provider_region;
ALTER TABLE provider_region CHANGE deleted_by deleted_by VARCHAR(255) DEFAULT NULL;
ALTER TABLE provider_service_category DROP FOREIGN KEY FK_923FF3E11F6FA0AF;
DROP INDEX IDX_923FF3E11F6FA0AF ON provider_service_category;
ALTER TABLE provider_service_category CHANGE deleted_by deleted_by VARCHAR(255) DEFAULT NULL;
ALTER TABLE state_provider DROP FOREIGN KEY FK_AD37153B1F6FA0AF;
DROP INDEX IDX_AD37153B1F6FA0AF ON state_provider;
ALTER TABLE state_provider CHANGE deleted_by deleted_by VARCHAR(255) DEFAULT NULL;
ALTER TABLE user ADD hash VARCHAR(255) NOT NULL;
