ALTER TABLE category_service DROP FOREIGN KEY FK_2645DAACDE12AB56;
DROP INDEX IDX_2645DAACDE12AB56 ON category_service;
ALTER TABLE category_service CHANGE created_by created_by VARCHAR(255) DEFAULT NULL, CHANGE date_modified date_modified DATETIME DEFAULT NULL, CHANGE deleted_by deleted_by VARCHAR(255) DEFAULT NULL;
ALTER TABLE login_role CHANGE name name VARCHAR(255) NOT NULL;
CREATE UNIQUE INDEX UNIQ_911B012F5E237E06 ON login_role (name);
ALTER TABLE provider DROP FOREIGN KEY FK_92C4739CDE12AB56;
DROP INDEX IDX_92C4739CDE12AB56 ON provider;
ALTER TABLE provider ADD login_role_id INT DEFAULT NULL, CHANGE created_by created_by VARCHAR(255) DEFAULT NULL, CHANGE date_modified date_modified DATETIME DEFAULT NULL, CHANGE deleted_by deleted_by VARCHAR(255) DEFAULT NULL;
ALTER TABLE provider ADD CONSTRAINT FK_92C4739CC62E3CD1 FOREIGN KEY (login_role_id) REFERENCES login_role (id);
CREATE INDEX IDX_92C4739CC62E3CD1 ON provider (login_role_id);
ALTER TABLE state_provider DROP FOREIGN KEY FK_AD37153BDE12AB56;
DROP INDEX IDX_AD37153BDE12AB56 ON state_provider;
ALTER TABLE state_provider CHANGE created_by created_by VARCHAR(255) DEFAULT NULL, CHANGE date_modified date_modified DATETIME DEFAULT NULL, CHANGE deleted_by deleted_by VARCHAR(255) DEFAULT NULL;
ALTER TABLE state_user DROP FOREIGN KEY FK_19705F8FDE12AB56;
DROP INDEX IDX_19705F8FDE12AB56 ON state_user;
ALTER TABLE state_user CHANGE created_by created_by VARCHAR(255) DEFAULT NULL, CHANGE date_modified date_modified DATETIME DEFAULT NULL, CHANGE deleted_by deleted_by VARCHAR(255) DEFAULT NULL;
ALTER TABLE user DROP FOREIGN KEY FK_8D93D649DE12AB56;
DROP INDEX IDX_8D93D649DE12AB56 ON user;
ALTER TABLE user CHANGE created_by created_by VARCHAR(255) DEFAULT NULL, CHANGE date_modified date_modified DATETIME DEFAULT NULL, CHANGE deleted_by deleted_by VARCHAR(255) DEFAULT NULL;
