CREATE TABLE provider_region (id INT AUTO_INCREMENT NOT NULL, provider_id INT NOT NULL, region_id INT NOT NULL, date_created DATETIME DEFAULT CURRENT_TIMESTAMP NOT NULL, date_modified DATETIME DEFAULT NULL, date_deleted DATETIME DEFAULT NULL, created_by VARCHAR(255) DEFAULT NULL, deleted_by VARCHAR(255) DEFAULT NULL, INDEX IDX_585312E6A53A8AA (provider_id), INDEX IDX_585312E698260155 (region_id), PRIMARY KEY(id)) DEFAULT CHARACTER SET utf8 COLLATE `utf8_unicode_ci` ENGINE = InnoDB;
ALTER TABLE provider_region ADD CONSTRAINT FK_585312E6A53A8AA FOREIGN KEY (provider_id) REFERENCES provider (id);
ALTER TABLE provider_region ADD CONSTRAINT FK_585312E698260155 FOREIGN KEY (region_id) REFERENCES region (id);
