ALTER TABLE category_service CHANGE created_by created_by INT DEFAULT NULL;
ALTER TABLE category_service ADD CONSTRAINT FK_2645DAACDE12AB56 FOREIGN KEY (created_by) REFERENCES user (id);
CREATE INDEX IDX_2645DAACDE12AB56 ON category_service (created_by);
ALTER TABLE provider CHANGE created_by created_by INT DEFAULT NULL;
ALTER TABLE provider ADD CONSTRAINT FK_92C4739CDE12AB56 FOREIGN KEY (created_by) REFERENCES user (id);
CREATE INDEX IDX_92C4739CDE12AB56 ON provider (created_by);
ALTER TABLE provider_region CHANGE created_by created_by INT DEFAULT NULL;
ALTER TABLE provider_region ADD CONSTRAINT FK_585312E6DE12AB56 FOREIGN KEY (created_by) REFERENCES user (id);
CREATE INDEX IDX_585312E6DE12AB56 ON provider_region (created_by);
ALTER TABLE provider_service_category CHANGE created_by created_by INT DEFAULT NULL;
ALTER TABLE provider_service_category ADD CONSTRAINT FK_923FF3E1DE12AB56 FOREIGN KEY (created_by) REFERENCES user (id);
CREATE INDEX IDX_923FF3E1DE12AB56 ON provider_service_category (created_by);
ALTER TABLE state_provider CHANGE created_by created_by INT DEFAULT NULL;
ALTER TABLE state_provider ADD CONSTRAINT FK_AD37153BDE12AB56 FOREIGN KEY (created_by) REFERENCES user (id);
CREATE INDEX IDX_AD37153BDE12AB56 ON state_provider (created_by);
ALTER TABLE state_user CHANGE created_by created_by INT DEFAULT NULL;
ALTER TABLE state_user ADD CONSTRAINT FK_19705F8FDE12AB56 FOREIGN KEY (created_by) REFERENCES user (id);
CREATE INDEX IDX_19705F8FDE12AB56 ON state_user (created_by);
ALTER TABLE user CHANGE created_by created_by INT DEFAULT NULL;
ALTER TABLE user ADD CONSTRAINT FK_8D93D649DE12AB56 FOREIGN KEY (created_by) REFERENCES user (id);
CREATE INDEX IDX_8D93D649DE12AB56 ON user (created_by);
