# Parameters
#
parameters:

	# System
	system:
		error:
			email: peter.jurek@gmail.com
			presenter: Front:Error

	# Database
	database:
		driver: mysqli
		port: 5432

	# Project
	project:
		rev: "1.0.0"

	# File
	files:
		root: %appDir%/../data/files

	# Mailing
	mailing:
		from: spravMiSluzbu@localhost
		from_name: SpravMiSluzbu

	# STMP
	smtp:
		host: localhost
		username: fake
		password: fake
