# Parameters
#
parameters:

	# System
	system:
		error:
			email: peter.jurek@gmail.com
			presenter: Front:Error

	# Database
	database:
		driver: mysqli
		port: 3306

	# Project
	project:
		rev: "1.0.0"

	# File
	files:
		root: %rootDir%/data/files

	# Mailing
	mailing:
		from: bripeon@localhost
		from_name: Bripeon

	# STMP
	smtp:
		host: localhost
		username: fake
		password: fake
